@charset "utf-8";

@import url('ericreset.css');

* {
	box-sizing: border-box;
}

/* MAIN HTML PAGE STYLES */
html, body {
    height: 900px;
    overflow: hidden;
}

body {
    background-image: url('../images/pinkwall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.desktop-comp {
    background-image: url('../images/comp.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1150px;
    height: 849px;
    margin: 0 auto;
    margin-top: 45px;
    position: relative;
}

.desk-wallpaper {
    position: absolute;
    top: 62px;
    left: 56px;
    width: 1039px;
    height: 531px;
}

.mycompicon {
    position: absolute;
    top: 95px;
    left: 95px;
}

.mydocicon {
    position: absolute;
    top: 170px;
    left: 95px;
}

.recycleicon {
    position: absolute;
    top: 250px;
    left: 105px;
}

/*  MAIN NAV STYLES  */

nav {
	background-color: teal;
    position: absolute;
    display: block;
    width: 1039px;
    height: 50px;
    z-index: 9000;
    bottom: 206px;
    left: 56px;
}

nav a {
	position: relative;
	text-decoration: none;
	float: left;
  	width: calc(100% / 4);
 	font-size: 16px;
	color: white;
	line-height: 50px;
	text-align: center;
	list-style-type: none;
	letter-spacing: 2px;
	text-shadow: 2px 2px black;
}

nav ul {
	list-style: none;
	width: 100%;
}

nav a:hover {
	background-color: #ff96ed;
}

/* TUTORIAL ONE STYLES */

.chrome {
    position: absolute;
    top: 65px;
    left: 76px;
    width: 1000px;
    height: 525px;
    z-index: 10;
}

.tut-01 {
    position: absolute;
    top: 133px;
    left: 81px;
    width: 990px;
    height: 437px;
    z-index: 12;
}

/* TUTORIAL TWO STYLES */

.notepad {
    position: absolute;
    top: 67px;
    left: 190px;
    width: 740px;
    height: 520px;
}

.tut-02 {
    position: absolute;
    width: 715px;
    height: 430px;
    left: 201px;
    top: 126px;
}

/* TUTORIAL THREE STYLES */

.demo-notepad {
    position: absolute;
    top: 70px;
    left: 65px;
    width: 680px;
    height: 520px;
}

.tut-03 {
    position: absolute;
    top: 62px;
    left: 56px;
    width: 1039px;
    height: 531px;
}